@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 20px !important;
}

.flex-container {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.pizza-card {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  max-width: 400px;
}

.pizza-card img {
  border-radius: 10px;
  margin-bottom: 10px;
}

.pizza-card select {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}

.pizza-card button {
  background-color: #ff4500;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pizza-card button:hover {
  background-color: #e03e00;
}
